<main class="ip-data">
    <div>
        <h2 class="ip-data-heading">IP ADDRESS</h2>
        <p class="ip-data-text">192.212.174.101</p>
    </div>
    <div class="ip-data-styling-line">
        <h2 class="ip-data-heading">LOCATION</h2>
        <p class="ip-data-text">Brooklyn, NY 10001</p>
    </div>
    <div class="ip-data-styling-line">
        <h2 class="ip-data-heading">TIMEZONE</h2>
        <p class="ip-data-text">UTC -05:00</p>
    </div>
    <div class="ip-data-styling-line">
        <h2 class="ip-data-heading">ISP</h2>
        <p class="ip-data-text">SpaceX Starlink</p>
    </div>
</main>